{:dev-http {8080 "public"}
 :source-paths ["src/dev" "src/main" "src/test"]
 :dependencies [[rum "0.12.11"]
                [datascript "1.5.4"]
                [datascript-transit "0.3.0"]]
 :builds {:chat {:target :browser
                 :modules {:main {:init-fn chat.main/main}}
                 :output-dir "public/js/chat"
                 :asset-path "../js/chat"}
          :todo {:target :browser
                 :modules {:main {:init-fn todo.main/main}}
                 :output-dir "public/js/todo"
                 :asset-path "../js/todo"}}}
